<div class="col-md-6 grid-margin stretch-card">
  <div class="card p-4">
    <img
      class="card-img-top img-thumbnail"
      src="https://khodaverdi-news.herokuapp.com/uploads/thumbnails/<%= article.image %>"
      alt="Card image cap"
    />
    <div class="card pt-4">
      <h4 class="card-title">عنوان : <%= article.title %></h4>
    </div>
    <p class="card-description">
      پست شده <%= formatDate(article.createdAt) %><code
        ><%= article.summary %></code
      >
    </p>
    <p><%- article.body %></p>
  </div>
</div>
